@page
@{
    ViewData["Title"] = "Error";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


   


    <div class="container theme-showcase" role="main">
        <p class="text-center"> 
            <h1 class="text-danger">Página de error</h1>        
            <img src="~/imgs/error_2.png" /><br /><br />
            <span ><a href="/">A P P - T A E K W O N D O</a></span>
        </p>
        
    </div>
