@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" >Bienvenido App-Taekwondo</h1>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    <div class="alert alert-danger" role="alert">
        <strong>¡Lo sentimos!</strong> La aplicación todavía no está disponible para su descarga.
    </div>

    <table style="width:100%">
        <tr>
            <th>Mandar Email</th>
            <th>Descargar APP</th>
        </tr>
        <tr>
            <td><img src="http://www.codigos-qr.com/qr/php/qr_img.php?d=MATMSG%3ATO%3Ataekwondo.tkd.app%40gmail.com%3BSUB%3AContacto%3BBODY%3ABuenos+d%C3%ADas%2C%0D%0Ame+pongo+en+contacto+con+ustedes+...%0D%0AMuchas+gracias%3B%3B&s=4&e=" alt="Generador de Códigos QR Codes" /></td>
            <td><img src="http://www.codigos-qr.com/qr/php/qr_img.php?d=Por ahora la aplicación no está disponible. Por favor, inténtelo en unos días.&s=3&e=" alt="Generador de Códigos QR Codes" /></td>
        </tr>

    </table>

    <p> </p>
</div>
