@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2 class="text-center text-info">Política de privacidad</h2>

<p>El uso, ya sea mediante copia o publicación, total o parcial de parte de la aplicación de Taekwondo, queda totalmente prohibido sin la autorización previa del equipo desarrollador de dichos contenidos.</p>
<p>A través de la Aplicación Web de Taekwondo no se recaban datos de carácter personal de los usuarios sin su conocimiento, ni se ceden a terceros, ya que éstos son tratados con confidencialidad (basándonos en la Ley Orgánica 15/1999 de 13 de diciembre de Protección de Datos de Carácter Personal, (LOPD). </p>
<p>Cualquier usuario puede ejercer sus derechos de acceso y supresión de sus datos de dicha plataforma. Dicha acción se realizará a través del siguiente correo electrónico: <i>taekwondo.tkd.app@gmail.com</i></p>
