@{
    ViewBag.Title = "Landing";
    Layout = "~/Pages/Shared/_LayoutMto.cshtml";
}

<h2 class="text-center text-info" style="margin-top:50px">Principal</h2>


    <img class="imagenmtono" src="~/imgs/admin.jpg" />
<a href="/Mto/Usuarios">
    <img class="imagenmto" src="~/imgs/usuarios.jpg" />
</a>
    <img class="imagenmtono" src="~/imgs/cinturones.jpg" />
    <img class="imagenmtono" src="~/imgs/tecnicas.jpg" />
    <img class="imagenmtono" src="~/imgs/tipotecnicas.jpg" />
